 <div class="modal-header">
     <h3 class="modal-title" style="text-align : center">Share your pizza with friends!</h3>
</div>

     <div class="modal-body">
		<img ng-src="images/pizza-Images/{{imageUrl}}">
        	<a class="twitter-share-button" href="https://twitter.com/share"
			  data-related="twitterdev"
			  data-size="large"
			  data-text="{{tweetText}}"
			  data-url ="http://localhost:8080/pizza-app/images/pizza-Images/{{imageUrl}}"
			  data-count="none">Tweet</a>
			  <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://localhost:8080/pizza-app;p[images][0]=https://www.swipely.com/images/uploads/blog/picture-1232.png;p[title]=title"><img src="http://www.farmasi.com.tr/en/images/fbshare.png"></a>
 </div>
       
        
        